:root{
    --my-dark-color: #2c3e50;
    --my-light-color: #1abc9c;
    --size: 1rem;
}

.bg-my-dark{
    background-color: var(--my-dark-color);
}

.bg-my-light{
    background-color: var(--my-light-color);
}

/* HEADER */



#menu div{
    display: inline-block;
    margin: 0 var(--size);
}

#avatar{
    height: 300px;
}

.line-star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-star .line-white{
    height: 5px;
    width: 80px;
    background-color: white;
    margin: 20px;
    border-top: 0;
}

.line-star .line-black{
    height: 5px;
    width: 80px;
    background-color: black;
    margin: 20px;
    border: 0;
}



.card img{
    width: 100%;
}

.btn{
    background-color: transparent;
    border-color: white;
}

.btn_send{
    color: white;
    background-color: var(--my-light-color);
    border: none;
}

.hr_contact_me{
    padding-top: 10px;
    
}

/* FOOTER */

.text_green{
    color: var(--my-light-color);
}

.icone i:not(:first-child){
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 5px 3px;
}

.facebook{
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid white;

}



@media screen and (min-width: 0px) {
    footer .col {
        margin: 10px;
    }

    #hamburger_menu{
        text-align: right;
    }
    

    #menu{
        display: none ;
    }
  }

  @media screen and (min-width: 768px) {
    footer .col {
        margin: 10px;
    }

    #hamburger_menu {
        display: none;
        width: 0;
    }

    #menu{
        display: block;
    }
 
  }

